/* General Styles */

/* Join Page Styles */

.centered-form {
    background-image: url("/svg/sectionBG.svg");    
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background-image: url("/svg/cardBG.svg");
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);    
    width: 200px;
    overflow-y: scroll  
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
.chat__messages {
    display: block;
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px; 
    color: white;  
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: inline-block;
    flex-shrink: 50;
    margin-top: 16px;
    padding: 15px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

section {
    background-image: url("/svg/sectionBG.svg");
    }
    .card {
      background-image: url("/svg/cardBG.svg");
    }
    .form-field {
      margin: 14px;
    }
    .form-field input::placeholder {
        color: rgb(114, 114, 114);
    }

    .form-item button {
      background-color: #1971ca;
      text-transform: unset !important;
    } 
    .form-item button:hover {
      background-color: #185EA5;
    }
    .fa{
      font-size:24px;
    }
    .material-icons.md-48 { font-size: 10rem; }
